<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citzenweb Venues</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
    {{^user}}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-account">Create Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/venues">View Venues</a>
                </li>
                {{#address}}
                <li class="nav-item">
                    <a class="nav-link" href="/clear">Clear Address</a>
                </li>
                {{/address}}
            </ul>
        </nav>
        <h3 class="text-energy">CitizenWeb</h3><h4>View Venues...</h4>
    </div>
    {{/user}}
    {{#user}}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    {{#userId}}<a class="nav-link" href="/user?userId={{.}}">My Profile</a>{{/userId}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-meeting">Create New Meeting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/venues">View Venues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-energy">CitizenWeb</h3><h4>Logged in as: {{userName}}.  View Venues...</h4>
    </div>
    {{/user}}
    {{#error}}{{.}}{{/error}}
    <!--{{^user}}-->
    <!--<div class="jumbotron">-->
    <!--<h2 class="display-3">Get Involved...</h2>-->
    <!--<p>Be present for the decisions that effect your home.</p>-->
    <!--<p>-->
    <!--<form>-->
    <!--<div class="form-group">-->
    <!--<input type="text2" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="Enter address" required>-->
    <!--<button action="/address" method="post" class="btn btn-lg btn-success" type="submit">See your local civic engagements</button>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--{{/user}}-->
    {{^address}}
    <div class="jumbotron">
        <h2 class="display-3">Get Involved...</h2>
        <p>Be present for the decisions that effect your home.</p>
        <p>
        <form>
            <div class="form-group">
                <input type="text2" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="Enter address" required>
                <button action="/address" method="post" class="btn btn-lg btn-success" type="submit">See your local civic engagements</button>
            </div>
        </form>
    </div>
    {{/address}}
    <!--{{#user}}-->
    <!--<div class="jumbotron">-->
    <!--{{#address}}{{.}}{{/address}}-->
    <!--</div>-->
    <!--{{/user}}-->
    {{#address}}
    <div class="jumbotron">
        {{.}}
    </div>
    {{/address}}
    <!--{{^user}}{{#address}}<button action="/" method="post" name="clear" value="true">Clear Address</button>{{/address}}{{/user}}-->
    <!--{{#user}}<a href="/create-meeting">Create New Meeting</a>{{/user}}-->

    {{#address}}
    <div class="row marketing">
        <div class="col-lg-12">
            <h4>Venues in your area:</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Venue Name</th>
                    <th>Street Address</th>
                    <th>Web Address</th>
                    <th>Twitter Handle</th>
                    <th>Venue Owner</th>
                </tr>
                </thead>
                <tbody>
                {{#venues}}
                <tr>
                    <td><a href="/venue?venueId={{#venueId}}{{.}}{{/venueId}}">{{#venueName}}{{.}}{{/venueName}}</a></td>
                    <td>{{#address}}{{.}}{{/address}}</td>
                    <td>{{#url}}<a href="{{.}}">{{.}}</a>{{/url}}</td>
                    <td>{{#twitter}}{{.}}{{/twitter}}</td>
                    <td>{{#ownerId}}<a href="/user?userId={{.}}">View Owner</a>{{/ownerId}}</td>
                </tr>
                {{/venues}}
                </tbody>
            </table>
        </div>
    </div>
    {{/address}}
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="home.js"></script>
</body>
</html>